/* Tablet size */

@media (max-width:900px) {

    /*  Tag Selector */

    h2 {
        grid-column-start: 1;
        grid-row-start: 2;
        text-align: center;
    }

    h4 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    h5 {
        font-size: 1.1rem;
    }
    
    h6 {
        font-size: 1.1rem;   
    }

    p {
        font-size: 1rem;
    }

    img {
        padding: 2rem 5rem 2rem;    
    }
    
    /* Main section */

    .main-content-box {
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr;
        gap: 0;
    }

    .profile-img {
        grid-column-start: 1;
        grid-row-start: 1;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    
    .aboutme {
        margin: 2rem 5rem;
        grid-column-start: 1;
        grid-row-start: 2;
    }

    /* Erfarenheter.HTML sidan  */
    
    .content-box {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 0,5fr 1fr 1fr 2fr 1fr 2fr 2fr;
        gap: .3rem;
    }

    /* left side */
    
    .selfportrait {
        grid-column-start: 1;
        grid-column-end: unset;
        grid-row-start: 1; 
        grid-row-end: unset; 
        margin-top: 2rem; 
    }

    .kuskaper-intressen {
        grid-column-start: 1;
        grid-row-start: 7;
    }

    /* Right side */
        
    .säljare-åhlens {
        
        grid-column-start: 1;
        grid-row-start: 3;    
    }

    .designer {
        
        grid-column-start: 1;
        grid-row-start: 4;     
    }
    
    .mode {
        
        grid-column-start: 1;
        grid-row-start: 5;
    }
    
    .utbildning-box {
        
        grid-column-start: 1;
        grid-row-start: 6;
    }
}

   /* Mobil size */

@media (max-width:500px) {

    .navbar {
        display: none;
    }

    .mobilMenu {
        display: block;
    }
    
    .aboutme {
        margin: 0;
        padding-bottom: 2rem;
    }        
}