/*  Tag Selector */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-image: url("imeges/background.jpg");
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
img {
    width: 100%;     
}

a:hover {
    color: gray;
}

h2{
    grid-column-start: 3;
    grid-row-start: 2;
    border-bottom: solid black 1px;
}

h3 {
    font-size: 30px;
    /* margin-top: 5rem;    */
}

h5 {
    font-size: 1.2rem;
    margin-bottom: 0px;
    padding-bottom: 0.5rem;
}

h6 {
    font-size: 1.1rem;
    margin-top: 0px;
    margin-bottom: 1rem;
    color: gray;
}

a {
    text-decoration: none;
    color: black;
}

/* Header content */

header {
    letter-spacing: 0.1rem;
    left: 0;
    top: 0;
    right: 0;
    height: 20rem;
    padding-top: 3rem;
    background-color: rgb(238, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 80%;
}

.my-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40rem;
    border-bottom: solid black 2px;
    text-align: center;
}

.navbar-box {
    padding-top: 2rem;
    max-width: 40rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none; 
}

nav ul {
    padding: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

/* Mobile menu */

.mobilMenu {
    display: none;
    height: 1rem;
    width: 100%;
    padding: 0 1rem;
    background-color:  rgb(238, 228, 228);
    padding: 0px;
    padding-right: 0px;
    left: 0;
    right: 0;

    transition: hight 300ms;
    overflow-y: hidden;
}

.menu-icon {
    height: 1rem;
}

#menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#menu a {
    padding-top: 2rem;      
}

.menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main section */
main {
    flex-grow: 1;
}
.main-content-box {
    display: grid;
    grid-template-columns: 0.1fr 1fr 2fr 0.1fr;
    grid-template-rows: 0.1fr 2fr 0.1fr;
    grid-gap: 5rem;
}

.profile-img {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.aboutme {
    background-color: rgba(128, 128, 128, 0.383);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    grid-column-start: 3;
    grid-row-start: 2;
}

.aboutme p {
    font-size: 20px;
}

/* footer section */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    opacity: 80%;
    height: 10rem;
    background-color: rgb(238, 228, 228);
    padding: 0.3rem;
}

.githab a {
    color: black;
    text-decoration: none;  
}

.border {
    width: 50%;
    margin-top: 1rem;
    border-top: solid black 1px;
}

/* Erfarenheter.html sidan */


.content-box {
    display: grid;
    grid-template-columns: 0.1fr 2fr 3fr 0.1fr;
    grid-template-rows: 0.2fr 0.1fr 0,5fr 1fr 1fr 2fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem ;
}

/* left side */

.selfportrait {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3; 
    grid-row-end: 6;  
} 

.selfportrait img {
    width: 100%;
} 

.kuskaper-intressen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-column-start: 2;
    grid-row-start: 6;
    gap: .5rem;    
}

.språk-box {
    background-color:  rgba(238, 228, 228, 0.556);
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
    padding-bottom: 1rem;
}

.behörigheter {
    background-color:  rgba(238, 228, 228, 0.556);
    grid-column-start: 1;
    grid-row-start: 2;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.kunskaper-box {
    background-color:  rgba(238, 228, 228, 0.556);
    padding-right: 0.3rem;
    text-align: right;
    grid-column-start: 1;
    grid-row-start: 1;
}

.intressen-box {
    background-color:  rgba(238, 228, 228, 0.556);
    padding-left: 0.3rem ;
    text-align: left;
    grid-column-start: 2;
    grid-row-start: 1;
}
      
/* Right side */

.säljare-åhlens {
    background-color: rgba(128, 128, 128, 0.383);
    grid-column-start: 3;
    grid-row-start: 3;
    padding: 0rem 1rem 1rem 1rem;   
}

.designer {
    background-color: rgba(128, 128, 128, 0.383);
    grid-column-start: 3;
    grid-row-start: 4;
    padding: 0rem 1rem 1rem 1rem;
}

.mode {
    background-color: rgba(128, 128, 128, 0.383);
    grid-column-start: 3;
    grid-row-start: 5;
    padding: 0rem 1rem 1rem 1rem;
}

.utbildning-box {
    background-color:  rgba(238, 228, 228, 0.556);
    grid-column-start: 3;
    grid-row-start: 6;
    padding: 1rem 1rem ;
}

.utbildning-box {
    display: flex;
    flex-direction: column; 
}




    


