* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    
}
body {
    font-weight: 20;
    margin: 0;
    background-image: url("/imeges/background.jpg");
    background-size: cover;
}

header {
    /* position: sticky; */
    left: 0;
    top: 0;
    right: 0;
    height: 20rem;
    padding-top: 3rem;
    background-color: rgb(238, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 80%;

}

.my-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40rem;
    border-bottom: solid black 1px;
    text-align: center;
}

.navbar-box{
    padding-top: 2rem;
    max-width: 40rem;
    
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;   
}
nav ul {
    padding: 0;
}
nav a {
    text-decoration: none;
    color: black;
}
.main-content-box {
    display: grid;
    grid-template-columns: 0.1fr 1fr 2fr 0.1fr;
    grid-template-rows: 0.1fr 2fr 0.1fr;
    grid-gap: 5rem;
}
.profile-img{
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;  
}
img {
    width: 100%;     
}

.aboutme {
    background-color: rgba(128, 128, 128, 0.383);
    padding-left: 2rem;
    padding-right: 2rem;
    grid-column-start: 3;
    grid-row-start: 2;
    
}

.aboutme p {
    /* padding-top: 5rem; */
    font-size: 20px;

}
h3 {
    font-size: 30px;
    margin-top: 5rem;
    
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    opacity: 80%;
    height: 10rem;
    background-color: rgb(238, 228, 228);
    padding: 0.3rem;
}
.githab {
    text-decoration: none;
}
.border {
    width: 50%;
    margin-top: 1rem;
    border-top: solid black 1px;
}

/* erfarenheter.html sidan */


.content-box {
    display: grid;
    grid-template-columns: 0.1fr 2fr 3fr 0.1fr;
    grid-template-rows: 0.2fr 0.1fr 0,5fr 1fr 1fr 2fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem ;
}
.selfportrait {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3; 
    grid-row-end: 6;  
}  
.selfportrait img {
    width: 100%;
} 

.kuskaper-intressen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-column-start: 2;
    grid-row-start: 6;
    gap: .5rem;
    
}

.språk-box {
    background-color:  rgba(238, 228, 228, 0.556);
    grid-column-start: 2;
    grid-row-start: 2;
    
    text-align: center;
}

.behörigheter {
    background-color:  rgba(238, 228, 228, 0.556);
    grid-column-start: 1;
    grid-row-start: 2;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.kunskaper-box {
    background-color:  rgba(238, 228, 228, 0.556);
    padding-right: 0.3rem;
    text-align: right;
    grid-column-start: 1;
    grid-row-start: 1;
}

.intressen-box {
    background-color:  rgba(238, 228, 228, 0.556);
    padding-left: 0.3rem ;
    text-align: left;
    grid-column-start: 2;
    grid-row-start: 1;
}

/* .center li{
    padding-left: 0px; */
      
  

.säljare-åhlens {
    background-color: rgba(128, 128, 128, 0.383);
    grid-column-start: 3;
    grid-row-start: 3;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.designer {
    background-color: rgba(128, 128, 128, 0.383);
    grid-column-start: 3;
    grid-row-start: 4;
    padding-left: 1rem;
    padding-right: 1rem;
}

.mode {
    background-color: rgba(128, 128, 128, 0.383);
    grid-column-start: 3;
    grid-row-start: 5;
    padding-left: 1rem;
    padding-right: 1rem;

}

.utbildning-box {
    background-color:  rgba(238, 228, 228, 0.556);
    grid-column-start: 3;
    grid-row-start: 6;
    padding-left: 1rem;
    padding-right: 1rem;

}
.utbildning-box {
    display: flex;
    flex-direction: column; 
    /* justify-content: space-evenly;   */
}


h2{
    grid-column-start: 3;
    grid-row-start: 2;
    border-bottom: solid black 1px;
}
h5 {
    font-size: 1.2rem;
    margin-bottom: 0px;
}

h6 {
    font-size: 1.1rem;
    margin-top: 0px;
    color: gray;
}




    


